# HAMOYE INTERNSHIP STAGE A
# INTRODUCTION TO PYTHON FOR MACHINE LEARNING

This notebook contains the solutions to the stage A graded quiz questions

## Import Necessary Dependencies

In [1]:
import numpy as np
import pandas as pd

## Read downloaded csv file to a dataframe

In [2]:
file_name = "fuel_ferc1.csv"
fuel_data = pd.read_csv(file_name)
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

# Question 1

**If you're given two lists:**

**A = [1, 2, 3, 4, 5, 6], B = [13, 21, 34]**

**The task is to create a list with the elements of A and B in a single dimension with output:**

**A_B = [1, 2, 3, 4, 5, 6, 13, 21, 34]**

## Answer: A.extend(B)

### Solution:

In [3]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

A.extend(B) # add the elements of B to A. method mutates A in place and returns none
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

**Alternatively:**

In [4]:
A = [1, 2, 3, 4, 5, 6]
B = [13, 21, 34]

A + B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# Question 2

**How do you create an identity matrix in python?**

## Answer: np.identity(3)

### Solution:

In [5]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

**Alternatively:**

In [6]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# Question 3

**Which of the following fuel type code has the lowest average fuel cost per unit burned?**

## Answer: Gas

### Solution:

**Group the dataframe by fuel type, compute the mean for the fuel_cost_per_unit_burned for each type and
get the index of the minimum value**

In [7]:
fuel_data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().idxmin()

'gas'

# Question 4

**What is the standard deviation and 75th percentile of the measure of energy per unit (fuel_mmbtu_per_unit) in two  decimal places?**

## Answer: 10.60 and 17.01

### Solution:

**Standard deviation:**

In [8]:
standard_deviation = fuel_data["fuel_mmbtu_per_unit"].std() # compute the std

print(f"{standard_deviation:.2f}") # display standard_deviation in 2 d.p.

10.60

**75th percentile:**

In [9]:
percentile_75 = fuel_data["fuel_mmbtu_per_unit"].quantile(0.75) # compute the 75th percentile

print(f"{percentile_75:.2f}") # display it in 2 d.p.

17.01

# Question 5

**What is the skewness and kurtosis for the fuel quantity burned in two decimal places?**

## Answer: 15.85 and 651.37

### Solution:

**Skewness:**

In [10]:
skewness = fuel_data["fuel_qty_burned"].skew() # compute the skewness

print(f"{skewness:.2f}") # display the value of skewness in 2 d.p.

15.85

**Kurtosis:**

In [11]:
kurtosis = fuel_data["fuel_qty_burned"].kurt() # compute the kurtosis

print(f"{kurtosis:.2f}") # display the value of kurtosis in 2 d.p.

651.37

# Question 6

**Which feature has missing values and what is the total number of missing values and percentage of the missing rows as a factor of the total number of rows in three decimal places?**

## Answer: Feature: fuel_unit, Total: 180, Percent: 0.610

### Solution:

**Get the feature with missing values**

In [12]:
column_nulls = fuel_data.isnull().sum() # get the total number of missing rows in each column
column_nulls

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [13]:
column_nulls[column_nulls != 0].index[0] # get the feature with missing rows

'fuel_unit'

**Get the number of missing rows in the column gotten above**

In [14]:
missing = column_nulls["fuel_unit"]
missing

180

**What perecentage of the total number of rows is missing?**

In [15]:
total = fuel_data.shape[0] # get the total number of rows

fraction = missing / total

print(f"{fraction:.3%}")

0.610%

# Question 7

**The feature with missing values falls under what category? What missing value imputation technique would you use?**

## Answer: Categorical and Mode imputation

In [16]:
fuel_data["fuel_unit"].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

**The values of the feature are limited, fixed, and unordered, hence the feature can be referred to as categorical**

# Question 8

**Which of the features have the second and third lowest correlation with the Fuel Cost Per Unit Burned**?

## Answer: fuel_qty_burned and fuel_mmbtu_per_unit

### Solution:

In [17]:
fuel_data.corr()["fuel_cost_per_unit_burned"].sort_values()[[1, 2]]

fuel_qty_burned       -0.018535
fuel_mmbtu_per_unit   -0.010034
Name: fuel_cost_per_unit_burned, dtype: float64

Sidenote: The above answers are based on the values and do not take positive or negative correlation into consideration. For example, -0.8 is less than 0.2 but a correlation of -0.8 is greater than a correlation of 0.2. In view of this, an alternative way to answering the question would be given by:

In [18]:
fuel_data.corr()["fuel_cost_per_unit_burned"].map(abs).sort_values()[[1, 2]]

fuel_mmbtu_per_unit             0.010034
fuel_cost_per_unit_delivered    0.011007
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 9

**For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?**

## Answer: -21%

### Solution:

**Group the dataframe by year and fuel type and then take the sum of fuel_cost_per_unit_burned for each group**

In [19]:
total_yearly_costs = fuel_data.groupby(["report_year", "fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].sum()

**Get the total costs per unit burned of coal in 1994 and 1998**

In [20]:
coal_cost_1994, coal_cost_1998 = total_yearly_costs.loc[[1994, 1998], "coal"]

**Calculate the percent change**

In [21]:
change = ((coal_cost_1998 - coal_cost_1994) / coal_cost_1994)

print(f"{change:.0%}")

-21%

# Question 10

**Which year has the highest average fuel cost per unit delivered?**

## Answer: 1997

### Solution:

**Group the dataframe by report_year, compute the mean for the fuel_cost_per_unit_delivered for each year and
get the index of the maximum value**

In [22]:
fuel_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean().idxmax()

1997

# Notebook By: Olaleke, Moshood Adegboyega